<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <span class="name"><%= tweet.name %></span>
    <div class="text">
      <%= simple_format(tweet.text) %>
    </div>
  <% end %>
</div>